:root {
    /* colors */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

.font-regular {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.font-medium {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

.font-bold {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}


/* some customize class only use for special size */
@media only screen and (max-width: 992px) {
    .mt-0 {
        margin-top: 0;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .mt-1 {
        margin-top: 1rem;
    }

    .mb-1 {
        margin-bottom: 1rem;
    }

    .mt-2 {
        margin-top: 2rem;
    }

    .mb-2 {
        margin-bottom: 2rem;
    }

    .mt-2-5 {
        margin-top: 2.5rem;
    }

    .mb-2-5 {
        margin-bottom: 2.5rem;
    }

    .justify-center {
        justify-content: center;
    }

}

@media only screen and (min-width: 992px) {
    .mt-lg-0 {
        margin-top: 0;
    }

    .mb-lg-0 {
        margin-bottom: 0;
    }

    .mt-lg-1 {
        margin-top: 1rem;
    }

    .mb-lg-1 {
        margin-bottom: 1rem;
    }

    .mt-lg-2 {
        margin-top: 2rem;
    }

    .mb-lg-2 {
        margin-bottom: 2rem;
    }

    .mt-lg-2-5 {
        margin-top: 2.5rem;
    }

    .mb-lg-2-5 {
        margin-bottom: 2.5rem;
    }

}
