*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    background-size: contain;
    overflow-x: hidden;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0;
}


/** section 1 => (intro, rate) **/

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro__title {
    font-size: 2.375rem;
    line-height: 2.063rem;
    color: var(--very-dark-magenta);
}

.intro__caption {
    font-size: 1.063rem;
    margin-top: 0;
    line-height: 1.5rem;
    color: var(--dark-grayish-magenta);
}


/* rate */
.rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-magenta);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.rate__starslist {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.rate__star {
    margin-right: 0.5rem;
}

.rate__text {
    margin: 0.5rem 0 1rem 0;
    color: var(--very-dark-magenta);
}



/* section 2 */
.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--very-dark-magenta);
    border-radius: 0.5rem;
    padding: 2.5rem 2rem 2rem 2rem;
    height: 15.625rem;
}

.comment__info {
    display: flex;
    align-items: flex-end;
}

.comment__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.comment__id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.comment__name {
    color: var(--white);
    margin: 0;
    font-size: 1rem;
    text-transform: capitalize;
}

.comment__label {
    color: var(--soft-pink);
    font-size: 1rem;
    text-transform: capitalize;
}

.comment__text {
    color: var(--white);
    margin: 1.875rem 0 0 0;
    line-height: 1.5rem;
}
