@import "./typography";
@import "./color";
@import "./responsive";
@import "./layoutMixins";
@import "./index";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    @include displayFlex(row, center, flex-start);
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    font-family: $ff-main;

    //responsive
    @include desktop() {
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        @include displayFlex(row, center, center);
    }
}